@use "sass:math";

$background-gradient: linear-gradient(rgba(43, 115, 68, 255), rgba(26, 21, 75, 255)) fixed;
$text-color: rgba(255, 255, 255, 255);
$text-fonts: sans-serif;

$x-padding: 0 10% 0 10%;
$y-padding: 10% 0 10% 0;
$xy-padding: 10%;

@mixin theme {
  // Theming
  background: $background-gradient;

  // Text descriptions
  font: $text-fonts;
  color: $text-color;
}

%navbar {
  @include theme;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    $company-logo-size: 100px;

    width: $company-logo-size;
  }

  .menu {
    width: 500px;
    display: grid;
    justify-content: right;
    @media screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }

    list-style: none;

    .navbar-menu-element {
      @include theme;

      a {
        @include theme;
        text-decoration: none;
      }

      .dropdown {
        position: relative;
        display: inline-block;

        .drop-down-button {
          @include theme;
          text-transform: uppercase;
          cursor: pointer;
        }

        .dropdown-content {
          @include theme;
          display: none;
          position: absolute;

          a {
            @include theme;
            text-decoration: none;
            display: block;
            padding: 0 0 30% 0
          }
        }
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      text-transform: uppercase;
      padding: 0 10% 0 0
    }
  }
}

%company-name {
  text-align: center;
  font-size: 100px;
}

%company-slogan {
  text-align: center;
}