@use 'base';

.navbar {
  @extend %navbar;
}

body {
  @include base.theme;

  .main-content {
    .title {
      @extend %company-name;
    }

    .secondary-title {
      text-align: center;
    }

    .text {
      text-align: center;
      font-size: large;
      padding: 0 10% 100px 10%;
    }

    .members {
      display: flow;
      @media screen and (min-width: 20cm) {
        display: inline-flex;
      }

      justify-content: space-evenly;
      padding: 0 10% 100px 10%;

      .member-bio {
        @media screen and (min-width: 20cm) {
          width: 33%;
        }

        padding: 0 1% 0 1%;

        .bio-image {
          width: 100%;
        }
        .bio-text {
          font-size: large;
          text-indent: 4ch;
          word-break-wrap: true;
        }
      }
    }
  }
}