@use 'base';

.navbar {
  @extend %navbar;
}

body {
  @include base.theme;

  .content {
    padding: 0 10% 0 10%;

    .title {
      text-align: center;
      font-size: 50px;
    }

    .contact-entry {
      a {
        @include base.theme;
        text-decoration: none;
      }
    }

    .sub-content {
      width: 60%;
      min-width: 400px;

      .no {
        text-indent: 4ch;
      }
    }
  }
}